{% extends "base.html" %}

{% block title %}SAPS Sense - Huddle{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}
<div class="saps-form-container">
    <header class="form-header">
        <h1>Formulário do Huddle</h1>
        <div class="form-progress">
            <div class="form-progress-bar" style="width: 25%;"></div>
        </div>
        <p class="form-step-title">Resumo dos profissionais</p>
    </header>

    <form method="POST" class="form-step">
        {{ form.hidden_tag() }}

        <div class="form-card">
            <div class="form-group-radio">
                <p>{{ form.turno.label.text }}</p>
                <div class="form-group-radio-items">
                    {% for subfield in form.turno %}
                        <label class="custom-radio">
                            {{ subfield(required=False) }} {{ subfield.label.text }}
                        </label>
                    {% endfor %}
                </div>
                {% for error in form.turno.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="form-group-radio">
                <p>{{ form.equipe_compareceu.label.text }}</p>
                <div class="form-group-radio-items" id="equipe-compareceu-radio">
                    {% for subfield in form.equipe_compareceu %}
                        <label class="custom-radio">
                            {{ subfield() }} {{ subfield.label.text }}
                        </label>
                    {% endfor %}
                </div>
                {% for error in form.equipe_compareceu.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>
        </div>

        <div class="form-card col resumo-detalhado">
            <label>Informe a quantidade de cada profissional presente:</label>
            {% for error in form.qtd_medicos.errors %}
                <small class="text-danger">{{ error }}</small>
            {% endfor %}
            
            <div class="checkbox-grid-2col">
                <div class="form-group">
                    {{ form.qtd_medicos.label }}
                    {{ form.qtd_medicos(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.qtd_direcao.label }}
                    {{ form.qtd_direcao(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.qtd_enfermeiros.label }}
                    {{ form.qtd_enfermeiros(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.qtd_nucleo_seguranca.label }}
                    {{ form.qtd_nucleo_seguranca(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.qtd_fisioterapeutas.label }}
                    {{ form.qtd_fisioterapeutas(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.qtd_nutricionistas.label }}
                    {{ form.qtd_nutricionistas(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.tecnicos_enfermagem.label }}
                    {{ form.tecnicos_enfermagem(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.qtd_fonoaudiologos.label }}
                    {{ form.qtd_fonoaudiologos(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.qtd_coras.label }}
                    {{ form.qtd_coras(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.qtd_assistente_social.label }}
                    {{ form.qtd_assistente_social(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.qtd_nir.label }}
                    {{ form.qtd_nir(class="form-control") }}
                </div>
            </div>
        </div>

        <div class="form-footer">
            <button type="submit" class="btn-primary" id="submit-huddle" style="justify-self: flex-end;">Próximo</button>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='js/huddleForm1.js') }}"></script>
{% endblock %}