{% extends "base.html" %}

{% block title %}SAPS Sense - Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="base-container">
    <header class="base-header">
        <h1>Resumo Geral</h1>
        <p> Último Huddle : {{ data_ultimo_huddle }} </p>
    </header>

    <div class="container-row">
        <div class="container-col home-col">
            <a href="{{ url_for('auth.saps_form') }}" class="btn-preencher-saps">
                <img src="{{ url_for('static', filename='img/logo-simbolo-white.svg') }}" alt="Logo">
                <span>Preencher SAPS</span>
            </a>
            <div class="card-stats-group resumo-leitos">
                <h2>Resumo de Leitos</h2>
                <div class="row">
                    <div class="card">
                        <h1>{{ 20 }}</h1>
                        <p>Total</p>
                    </div>
                    <div class="card">
                        <h1>{{ 20 - ocupados }}</h1>
                        <p>Ocupados</p>
                    </div>
                    <div class="card">
                        <h1>{{ 20 - ocupados }}</h1>
                        <p>Disponíveis</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-stats-group">
            <h2>Resumo de Profissionais</h2>
            <div class="grid">
                <div class="card">
                    <h1>2</h1>
                    <p>Médicos</p>
                </div>
                <div class="card">
                    <h1>10</h1>
                    <p>Técnicos de Enfermagem</p>
                </div class="card">
                <div class="card">
                    <h1>10</h1>
                    <p>Nutricionista</p>
                </div>
                <div class="card">
                    <h1>2</h1>
                    <p>Enfermeiros</p>
                </div>
                <div class="card">
                    <h1>10</h1>
                    <p>Fisioterapeutas</p>
                </div>
                <div class="card">
                    <h1>10</h1>
                    <p>Fonoaudiólogo</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-row">
        <div class="card-resumo-pacientes card-graph">
            <h2>Resumo dos Pacientes</h2>
            <div class="resumo-list">
                <div class="resumo-huddle">
                    {% set itens = [
                        ("Mais Graves", dados_huddle.mais_grave),
                        ("Em tratamento", dados_huddle.em_tratamento),
                        ("Em diálise", dados_huddle.dialise),
                        ("Com sonda vesical", dados_huddle.sonda_vesical),
                        ("Cateter venoso central", dados_huddle.cateter_venoso),
                        ("Ventilação Mecânica", dados_huddle.ventilacao_mecanica),
                        ("IM5 ≥ 4.4", dados_huddle.im5_acima_4_4)
                    ] %}

                    {% for nome, valor in itens %}
                        {% set percentual = (valor / dados_huddle.total * 100) if dados_huddle.total else 0 %}
                        <div class="resumo-item">
                            <span>{{ nome }}</span>
                            <div class="progress-container">
                                <div class="progress" style="width: {{ percentual|round(0) }}%;"></div>
                            </div>
                            <span>{{ valor }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="card-fluxo card-graph">
            <div class="card-header">
                <h2>Fluxo de Pacientes</h2>
                <label class="periodo-semana">{{ periodo }}</label>
            </div>

            <div class="legend">
                <span class="entrada"></span> Entrada
                <span class="saida"></span> Saída
            </div>

           <div class="chart-bar-container">
                {% for i in range(7) %}
                <div class="bar-group">
                    <div class="bar-pair">
                        <div class="group-item">
                            <label class="bar-label entrada-bar-label">{{ entradas_por_dia[i] }}</label>
                            <div class="bar entrada-bar" style="height: {{ entradas_por_dia[i] * 5 + 5 }}%;"></div>
                        </div>
                        <div class="group-item">
                            <label class="bar-label saida-bar-label">{{ saidas_por_dia[i] }}</label>
                            <div class="bar saida-bar" style="height: {{ saidas_por_dia[i] * 5 + 5 }}%;"></div>
                        </div>
                    </div>
                    <span>{{ dias_semana[i] }} {{ dias_datas[i] }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/pacientes.js') }}"></script>
{% endblock %}
