{% extends "base.html" %}

{% block title %}SAPS Sense - Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="base-container">
    <header class="base-header">
        <h1>Resumo Geral</h1>
    </header>

    <div class="container-row">
        <div class="container-col home-col">
            <a href="{{ url_for('auth.saps_form') }}" class="btn-preencher-saps">
                <img src="{{ url_for('static', filename='img/logo-simbolo-white.svg') }}" alt="Logo">
                <span>Preencher SAPS</span>
            </a>
            <div class="card-stats-group resumo-leitos">
                <h2>Resumo de Leitos</h2>
                <div class="row">
                    <div class="card">
                        <h1>{{ 20 }}</h1>
                        <p>Total</p>
                    </div>
                    <div class="card">
                        <h1>{{ 20 - ocupados }}</h1>
                        <p>Ocupados</p>
                    </div>
                    <div class="card">
                        <h1>{{ 20 - ocupados }}</h1>
                        <p>Disponíveis</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-stats-group">
            <h2>Resumo de Profissionais</h2>
            <div class="grid">
                <div class="card">
                    <h1>2</h1>
                    <p>Médicos</p>
                </div>
                <div class="card">
                    <h1>10</h1>
                    <p>Técnicos de Enfermagem</p>
                </div class="card">
                <div class="card">
                    <h1>10</h1>
                    <p>Nutricionista</p>
                </div>
                <div class="card">
                    <h1>2</h1>
                    <p>Enfermeiros</p>
                </div>
                <div class="card">
                    <h1>10</h1>
                    <p>Fisioterapeutas</p>
                </div>
                <div class="card">
                    <h1>10</h1>
                    <p>Fonoaudiólogo</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-row">
        <div class="card-resumo-pacientes card-graph">
            <h2>Resumo dos Pacientes</h2>
            <div class="resumo-list">
                <div class="resumo-item">
                    <span>Mais Grave</span>
                    <div class="progress-container"><div class="progress" style="width: 80%;"></div></div>
                    <span>10</span>
                </div>
                <div class="resumo-item">
                    <span>Em tratamento</span>
                    <div class="progress-container"><div class="progress" style="width: 75%;"></div></div>
                    <span>10</span>
                </div>
                <div class="resumo-item">
                    <span>Em diálise</span>
                    <div class="progress-container"><div class="progress" style="width: 60%;"></div></div>
                    <span>10</span>
                </div>
                <div class="resumo-item">
                    <span>Com sonda vesical</span>
                    <div class="progress-container"><div class="progress" style="width: 55%;"></div></div>
                    <span>10</span>
                </div>
                <div class="resumo-item">
                    <span>Cateter venoso central</span>
                    <div class="progress-container"><div class="progress" style="width: 50%;"></div></div>
                    <span>10</span>
                </div>
                <div class="resumo-item">
                    <span>Ventilação Mecânica</span>
                    <div class="progress-container"><div class="progress" style="width: 40%;"></div></div>
                    <span>10</span>
                </div>
                <div class="resumo-item">
                    <span>IM5 ≥ 4.4</span>
                    <div class="progress-container"><div class="progress" style="width: 30%;"></div></div>
                    <span>10</span>
                </div>
            </div>
        </div>

        <div class="card-fluxo card-graph">
            <div class="card-header">
                <h2>Fluxo de Pacientes</h2>
                <input type="text" value="02/06/2025 - 08/06/2025" class="date-picker">
            </div>
            <div class="legend">
            <span class="entrada"></span> Entrada
            <span class="saida"></span> Saída
            </div>
            <div class="chart-bar-container">
                {% for dia in ['Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado', 'Domingo'] %}
                <div class="bar-group">
                    <div class="bar entrada-bar" style="height: {{ (10 - loop.index) * 10 + 20 }}%;"></div>
                    <div class="bar saida-bar" style="height: {{ (loop.index) * 8 + 15 }}%;"></div>
                    <span>{{ dia[:3] }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Leito</th>
                    <th>Nome</th>
                    <th>Responsável</th>
                    <th>Internado(a) em</th>
                    <th>Resultado SAPS</th>
                </tr>
            </thead>
            <tbody>
                {% for i in internacoes_paginated.items %}
                <tr>
                    <td>{{ i.leito }}</td>
                    <td>{{ i.paciente.nome }}</td>
                    <td>
                    {% if i.responsavel %}
                        {{ i.responsavel }}
                        <a onclick="abrirModal('{{ i.id }}')">
                            <svg style="width: 20px; height: 20px;" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M16.862 4.487c.637-.637 1.67-.637 2.308 0l.343.343a1.625 1.625 0 010 2.298l-.859.86m-1.792-3.501L5.634 15.13a4.5 4.5 0 00-1.128 1.84l-.492 1.476a.75.75 0 00.948.949l1.475-.492a4.5 4.5 0 001.84-1.128L19.378 7.61m-3.501-1.792l1.792 1.792" />
                            </svg>
                        </a>
                    {% else %}
                        <button class="btn-primary atribuir" onclick="abrirModal('{{ i.id }}')">Atribuir</button>
                    {% endif %}
                    </td>
                    <td>{{ i.data_admissao.strftime('%d/%m/%Y') }}</td>
                    <td class="{% if i.saps_score and i.saps_score > 53 %}danger{% endif %}">
                        {% if i.saps_score and i.mortalidade_estimada %}
                            {{ i.saps_score }} ({{ "%.2f"|format(i.mortalidade_estimada) }}%)
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if internacoes_paginated.has_prev %}
                <a href="{{ url_for('auth.lista_pacientes', page=internacoes_paginated.prev_num) }}">Anterior</a>
            {% endif %}
            {% for p in range(1, internacoes_paginated.pages + 1) %}
                <a href="{{ url_for('auth.lista_pacientes', page=p) }}" class="{% if p == internacoes_paginated.page %}active{% endif %}">{{ p }}</a>
            {% endfor %}
            {% if internacoes_paginated.has_next %}
                <a href="{{ url_for('auth.lista_pacientes', page=internacoes_paginated.next_num) }}">Próximo</a>
            {% endif %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/pacientes.js') }}"></script>
{% endblock %}