.venv/
.env

__pycache__/
*.py[cod]
*.pyo
*.pyd

*.env
.env.*

*.sqlite3
*.db
*.log

.vscode/
.idea/
*.swp

migrations/*
!migrations/README
!migrations/__init__.py

uploads/*
static/uploads/*
!uploads/.gitkeep
!static/uploads/.gitkeep
