.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.pacientes-summary {
  display: flex;
  gap: 32px;
  margin-bottom: 24px;
}

/* --- Ícone de edição (✏️) --- */
button.editar-responsavel {
  background: none;
  border: none;
  font-size: 16px;
  margin-left: 6px;
  cursor: pointer;
  color: #3b82f6;
  transition: transform 0.2s ease;
}

button.editar-responsavel:hover {
  transform: scale(1.2);
}

.erro {
  color: red;
  font-size: 13px;
  margin-top: -8px;
  margin-bottom: 8px;
}


/* Modal Paciente */

.card-resultado {
    background-color: var(--azul-500);
    color: white;
    border-radius: 16px;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.card-resultado .score,
.card-resultado .mortalidade {
    flex: 1;
}

.card-resultado h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-resultado .valor {
    font-size: 32px;
    font-weight: bold;
}

.form-modal{
    max-width: none;
}
