/* Configurações Globais e de Fonte */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
}

/* Container Principal */
.login-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Lado Esquerdo - Imagem de Fundo */
.login-background {
    flex: 1;
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Lado Direito - Área do Formulário */
.login-form-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.form-wrapper {
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
.logo-container {
    margin-bottom: 2rem;
    text-align: center;
}

.logo-container img {
    max-width: 180px; /* Ajuste o tamanho conforme necessário */
}

/* Formulário e Campos */
form {
    width: 100%;
}

.form-group {
    margin-bottom: 1.5rem;
    width: 100%;
}

.form-group label {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    box-sizing: border-box; /* Garante que padding não afete a largura total */
    font-size: 1rem;
    transition: border-color 0.3s;
}

.form-group input::placeholder {
    color: #aaa;
}

.form-group input:focus {
    outline: none;
    border-color: #2980b9;
}

/* Link "Esqueceu a senha" */
.forgot-password {
    text-align: right;
    margin-bottom: 1.5rem;
}

.forgot-password a {
    font-size: 0.85rem;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-password a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Botão de Login */
.btn-login {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #0056b3;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .login-background {
        flex: 0; /* Oculta a imagem de fundo em telas pequenas */
        display: none;
    }

    .login-form-area {
        flex: 1;
        padding: 2rem;
    }
}