{% extends "base.html" %}

{% block title %}SAPS Sense - Administração{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}
<div class="base-container">
    <header class="base-header">
        <h1>Usuários</h1>
        <button onclick="abrirModal()" class="btn-primary">Adicionar Usuário</button>
    </header>

    <div class="stats-cards">
        <div class="card">
            <h1>{{ users_paginated.total }}</h1>
            <p>Enfermeiros</p>
        </div>
        <div class="card">
            <h1>{{ users_paginated.total }}</h1>
            <p>Médicos</p>
        </div>
        <div class="card">
            <h1>{{ 20 - users_paginated.total }}</h1>
            <p>Administradores</p>
        </div>
    </div>
    <div class="table-wrapper">
        <!-- <div class="search-box form-group">
            <input type="text" placeholder="Buscar Usuário">
        </div> -->
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo de Usuário</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users_paginated.items %}
                <tr>
                    <td>{{ user.nome }}</td>
                    <td>{{ user.tipo }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- <div class="pagination">
            {% if users_paginated.has_prev %}
                <a href="{{ url_for('auth.lista_pacientes', page=users_paginated.prev_num) }}">Anterior</a>
            {% endif %}
            {% for p in range(1, users_paginated.pages + 1) %}
                <a href="{{ url_for('auth.lista_pacientes', page=p) }}" class="{% if p == users_paginated.page %}active{% endif %}">{{ p }}</a>
            {% endfor %}
            {% if users_paginated.has_next %}
                <a href="{{ url_for('auth.lista_pacientes', page=users_paginated.next_num) }}">Próximo</a>
            {% endif %}
        </div> -->
    </div>
</div>

<div id="modalRegister" class="modal" style="display:none;">
  <div class="modal-content customized-modal">
    <h3>Criar Usuário</h3>
    <p id="erroModal" class="box-danger"></p>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.nome.label }} {{ form.nome }}
        </div>

        <div class="form-group">
            {{ form.tipo.label }} {{ form.tipo }}
        </div>

        <div class="form-group">
            {{ form.username.label }} {{ form.username }}
        </div>

        <div class="form-group">
            {{ form.email.label }} {{ form.email }}
        </div>

        <div class="form-group">
            {{ form.senha.label }} {{ form.senha }}
        </div>
    </form>
    <div class="modal-actions">
      <button onclick="fecharModal()" class="btn-secondary">Cancelar</button>
      <button onclick="saveUser()" class="btn-primary">Criar Usuário</button>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}
