{% extends 'base.html' %}

{% block title %}SAPS Sense - Resultado{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sapsResult.css') }}">
{% endblock %}

{% block content %}
<div class="base-container">
    <header class="base-header">
        <h1>Resultado do SAPS</h1>
    </header>
    <div class="card-resultado">
        <div class="score">
            <h2>
                <img src="{{ url_for('static', filename='img/calculator.svg') }}" alt="Mortalidade Icon">
                Resultado do SAPS 3
            </h2>
            <div class="valor">{{ saps_score }} <span style="font-size: 16px; font-weight: normal;">pontos</span></div>
        </div>
        <div class="mortalidade">
            <h2>Chance de Mortalidade</h2>
            <div class="valor">{{ "%.0f"|format(mortalidade) }}%</div>
        </div>
    </div>

    {% if resumo_ia %}
    <div class="resumo-ia-container">
        <h3>
            <img src="{{ url_for('static', filename='img/sparkles.svg') }}" alt="Mortalidade Icon">
            Avaliação da IA
        </h3>
        <p>{{ resumo_ia }}</p>
    </div>
    {% endif %}

    <div class="container-footer">
        <button href="{{ url_for('auth.home_page') }}" class="btn-primary">Ir para Home</button>
    </div>

</div>
{% endblock %}
