{% extends "base.html" %}

{% block title %}Login - SAPS sense{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-background"></div>
    <div class="login-form-area">
        <div class="form-wrapper">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="SAPS sense Logo" class="logo-login">
                <h1>Criar Conta</h1>
                <form method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.nome.label }} {{ form.nome(class_="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.tipo.label }} {{ form.tipo(class_="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.username.label }} {{ form.username(class_="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.email.label }} {{ form.email(class_="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.senha.label }} {{ form.senha(class_="form-control") }}
                    </div>

                    <div class="form-group">
                        {{ form.foto_perfil.label }} {{ form.foto_perfil(class_="form-control") }}
                    </div>

                    {{ form.submit(class_="btn-login") }}
                </form>
            <div class="forgot-password" style="text-align: center; margin-top: 20px;">
                <a href="{{ url_for('auth.login') }}">Já tem uma conta? Faça o login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
