{% extends "base.html" %}

{% block title %}SAPS Sense - Pacientes{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pacientes.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}
<div class="base-container">
    <header class="base-header">
        <h1>Pacientes</h1>
        <a href="{{ url_for('auth.saps_form') }}" class="btn-primary">Preencher SAPS 3</a>
    </header>

    <div class="stats-cards">
        <div class="card">
            <h1>{{ internacoes_paginated.total }}</h1>
            <p>Total</p>
        </div>
        <div class="card">
            <h1>{{ internacoes_paginated.total }}</h1>
            <p>Ocupados</p>
        </div>
        <div class="card">
            <h1>{{ 20 - internacoes_paginated.total }}</h1>
            <p>Disponíveis</p>
        </div>
    </div>

    <div class="table-wrapper">
        <!-- <div class="search-box form-group">
            <input type="text" placeholder="Buscar Paciente">
        </div> -->
        <table>
            <thead>
                <tr>
                    <th>Leito</th>
                    <th>Nome</th>
                    <th>Responsável</th>
                    <th>Internado(a) em</th>
                    <th>Resultado SAPS</th>
                </tr>
            </thead>
            <tbody>
                {% for i in internacoes_paginated.items %}
                <tr onclick="abrirModalPaciente({{ i.id }})">
                    <td>{{ i.leito }}</td>
                    <td>{{ i.paciente.nome }}</td>
                    <td>
                    {% if i.responsavel %}
                        {{ i.responsavel }}
                        <a onclick="abrirModal('{{ i.id }}')">
                            <svg style="width: 20px; height: 20px;" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M16.862 4.487c.637-.637 1.67-.637 2.308 0l.343.343a1.625 1.625 0 010 2.298l-.859.86m-1.792-3.501L5.634 15.13a4.5 4.5 0 00-1.128 1.84l-.492 1.476a.75.75 0 00.948.949l1.475-.492a4.5 4.5 0 001.84-1.128L19.378 7.61m-3.501-1.792l1.792 1.792" />
                            </svg>
                        </a>
                    {% else %}
                        <button class="btn-primary atribuir" onclick="abrirModal('{{ i.id }}')">Atribuir</button>
                    {% endif %}
                    </td>
                    <td>{{ i.data_admissao.strftime('%d/%m/%Y') }}</td>
                    <td class="{% if i.saps_score and i.saps_score > 53 %}danger{% endif %}">
                        {% if i.saps_score and i.mortalidade_estimada %}
                            {{ i.saps_score }} ({{ "%.2f"|format(i.mortalidade_estimada) }}%)
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if internacoes_paginated.has_prev %}
                <a href="{{ url_for('auth.lista_pacientes', page=internacoes_paginated.prev_num) }}">Anterior</a>
            {% endif %}
            {% for p in range(1, internacoes_paginated.pages + 1) %}
                <a href="{{ url_for('auth.lista_pacientes', page=p) }}" class="{% if p == internacoes_paginated.page %}active{% endif %}">{{ p }}</a>
            {% endfor %}
            {% if internacoes_paginated.has_next %}
                <a href="{{ url_for('auth.lista_pacientes', page=internacoes_paginated.next_num) }}">Próximo</a>
            {% endif %}
        </div>
    </div>
</div>

<div id="modalResponsavel" class="modal" style="display:none;">
  <div class="modal-content">
    <h3>Atribuir Responsável</h3>
    <div class="form-group">
        <label for="responsavelInput">Nome do Responsável</label>
        <input type="text" id="nomeResponsavel" placeholder="Digite o nome do responsável">
        <input type="hidden" id="internacaoId">
    </div>
    <div class="modal-actions">
      <button onclick="fecharModal()" class="btn-secondary">Cancelar</button>
      <button onclick="salvarResponsavel()" class="btn-primary">Salvar</button>
    </div>
    <p id="erroModal" style="color:red;"></p>
  </div>
</div>
<div id="modalPacienteContainer"></div>

<script src="{{ url_for('static', filename='js/pacientes.js') }}"></script>
{% endblock %}
